Csharp/S1_Exercise/ex-1_BirthYearFinder/bin
Csharp/S1_Exercise/ex-2_calculate_Mul_Div_Mod/bin
Csharp/S1_Exercise/ex-3_gradeCalculator/bin
Csharp/S1_Exercise/ex-4_Password_Lock/bin
Csharp/S1_Exercise/ex-5_sumNum/bin
Csharp/S1_Exercise/ex-6_reverseNum/bin
Csharp/S1_Exercise/ex-7_listIO/bin
Csharp/S1_Exercise/ex-8_Create_Object_In_List/bin
Csharp/S1_Exercise/ex-9_Hote_lSystem/bin
personalProject/Application/Inventory_Control_System/.git
personalProject/web/Web_Tools_Redirector/.git
